.header {
  display: flex;
  flex-direction: row;
  .ant-btn-default {
    border: none;
    box-shadow: none;
  }
  .leftSide {
    display: flex;
    flex-direction: column;
    flex: 1;
    // align-items: center;
    justify-content: start;
    padding-left: 20px;
    padding-top: 20px;
  }
  .rightSide {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
  }
}
